body {
	padding-top: 50px;
}
.player-selected {
	font-weight: bold;
}
.center-middle {
	vertical-align: middle;
}
.player-details {
	color: #999999;
	font-style: italic;
	font-size: 10px;
}
.list-group-item-custom {
  color: #999999;
  background-color: #eeeeee;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.panel-heading {
	padding: 1px 10px;
	text-align: center;
}
.header {
  background-color: white;
  border-bottom: solid 2px #999;
  height: 50px;
}
.header .dropdown {
	margin: 8px;
}
.catlogo {
	padding-left: 10px;
	padding-top: 3px;
}
.label {
	display: inline-block;
}
.table-brackets tbody tr td {
	padding: 8px 0 8px 0;
}
.bracket {
	font-size:10px;
	color:#000;
	width:60px;
}
.bracket:disabled {
	-webkit-text-fill-color: rgba(0, 0, 0, 1); -webkit-opacity: 1; background: white;
}
a.list-group-item-custom {
  color: #cccccc;
}
a.list-group-item-custom .list-group-item-heading {
  color: inherit;
}
a.list-group-item-custom:hover,
a.list-group-item-custom:focus {
  color: #cccccc;
  background-color: #c4e3f3;
}
a.list-group-item-custom.active,
a.list-group-item-custom.active:hover,
a.list-group-item-custom.active:focus {
  color: #fff;
  background-color: #cccccc;
  border-color: #cccccc;
}
small {
	font-size: 70%;
}
