<div id="matchmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="matchmodal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Adicionar Partida</h4>
      </div>
      <div class="modal-body">
        
      <form name="formmatches" role="form" novalidate>
  		    <div class="form-group">
  		        <label>Torneio:</label>
              {{getTournamentName(tournId)}}
  		        
  		    </div>
  		    <div class="form-group">
  		        <label>Jogador 1:</label>
              <select class="form-control" ng-model="match.p1_id" name="p1_id">
                <option ng-repeat="player in playerList | orderBy:['name']" value="{{player.id}}">{{player.name}}</option>
              </select>
  		    </div>
          <div class="form-group">
              <label>Jogador 2:</label>
              <select class="form-control" ng-model="match.p2_id" name="p2_id">
                <option ng-repeat="player in playerList | orderBy:['name']" value="{{player.id}}">{{player.name}}</option>
              </select>
          </div>

  		</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" 
          ng-disabled="formmatches.$invalid" ng-click="submit()" data-dismiss="modal">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->