<div id="matchmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="matchmodal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" ng-hide="(matchId)">Adicionar Partida</h4>
        <h4 class="modal-title" ng-show="(matchId)">Editar Partida</h4>
      </div>
      <div class="modal-body">

      <form name="formmatches" role="form" novalidate>
  		    <div class="form-group">
  		        <label>Torneio:</label>
              {{getTournamentName(tournId)}}

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  <label>Jogador 1:</label><br />
                  <select ng-hide="(matchId)" class="form-control" ng-model="match.p1_id" name="p1_id">
                    <option ng-repeat="player in getTournPlayers(tournId) | orderBy:['name']" value="{{player._id}}">{{player.name}}</option>
                  </select>
                  <span ng-show="(matchId)">{{getPlayerName(match.p1_id)}}</span>
                  <input ng-show="(matchId)" type="text" ng-model="match.p1_id" style="display:none">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                  <label>Set 1:</label>
                  <select class="form-control" ng-model="setsp1[0]" name="p1_set1">
                    <option ng-repeat="i in getCounter(8) track by $index" value="{{$index}}">{{$index}}</option>
                    <option value="W">W</option>
                    <option value="O">O</option>
                  </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                  <label>Set 2:</label>
                  <select class="form-control" ng-model="setsp1[1]" name="p1_set2">
                    <option ng-repeat="i in getCounter(8) track by $index" value="{{$index}}">{{$index}}</option>
                  </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                  <label>Set 3:</label>
                  <select class="form-control" ng-model="setsp1[2]" name="p1_set3">
                    <option ng-repeat="i in getCounter(15) track by $index" value="{{$index}}">{{$index}}</option>
                  </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  <label>Jogador 2:</label><br />
                  <select ng-hide="(matchId)" class="form-control" ng-model="match.p2_id" name="p2_id">
                    <option ng-repeat="player in getTournPlayers(tournId) | orderBy:['name']" value="{{player._id}}">{{player.name}}</option>
                    <option value="0">BYE</option>
                  </select>
                  <span ng-show="(matchId)">{{getPlayerName(match.p2_id)}}</span>
                  <input ng-show="(matchId)" type="text" ng-model="match.p2_id" style="display:none">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                  <label>Set 1:</label>
                  <select class="form-control" ng-model="setsp2[0]" name="p2_set1">
                    <option ng-repeat="i in getCounter(8) track by $index" value="{{$index}}">{{$index}}</option>
                    <option value="W">W</option>
                    <option value="O">O</option>
                  </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                  <label>Set 2:</label>
                  <select class="form-control" ng-model="setsp2[1]" name="p2_set2">
                    <option ng-repeat="i in getCounter(8) track by $index" value="{{$index}}">{{$index}}</option>
                  </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                  <label>Set 3:</label>
                  <select class="form-control" ng-model="setsp2[2]" name="p2_set3">
                    <option ng-repeat="i in getCounter(15) track by $index" value="{{$index}}">{{$index}}</option>
                  </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Round:</label><br />
            <select ng-hide="(matchId)" class="form-control" ng-model="match.round" name="p2_id">
              <option value="RR">RR</option>
              <option value="R32">R32</option>
              <option value="R16">R16</option>
              <option value="Q">Q</option>
              <option value="S">S</option>
              <option value="F">F</option>
            </select>
            <span ng-show="(matchId)">{{match.round}}</span>
            <input ng-show="(matchId)" type="text" ng-model="match.round" style="display:none">
          </div>

          <div class="form-group">
            <input type="checkbox" ng-model="match.bracket_b">
            <label>Chave B</label>
          </div>

  		</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary"
          ng-disabled="formmatches.$invalid" ng-click="submit()" data-dismiss="modal">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
